<div class="card-deck">
	
	<div class="card text-center" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">New Activity</h5>
			<p class="card-text">Add starting and ending points to know distance covered during your Activity</p>
			<a href="<%= new_activity_path %>" class="btn btn-primary">Add</a>
		</div>
	</div>

	<div class="card text-center" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Statistics</h5>
			<p class="card-text">Last activity. Last week average distance covered. Last month statistics</p>
			<a href="<%= user_path(@user) %>" class="btn btn-primary">Show</a>
		</div>
	</div>

</div>

