<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @last_month_activities.each do |actv| %>
    <tr>
      <th scope="row"><%= actv.created_at.strftime("%B %d") %></th>
      <td><%= actv.distance %> km</td>
    </tr>


    <% end %>

</table>